header{
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  float: left;
  font-weight: bold;
  font-family: cursive;
  font-size: 30px;
  color: white;
}

#products{
  margin-left: 800px;
  text-decoration: none;
}

nav{
  background-color:rgb(112, 112, 250);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: larger;
  height: 70px;
}